.checkbox {
    display: flex;

    &__error {
        color: var(--aptools-color-emphasis-c4);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        display: block;
        margin-top: 2px;
        padding: 0 10px;
    }

    label {
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            min-width: 10px;
            min-height: 10px;
            border: 1px solid var(--aptools-color-emphasis-c1);
            border-radius: 2px;
            margin-right: 4px;
            background-image: url('/static/images/svg/checkmark.svg');
            background-size: contain;
        }
    }

    input:checked + label:before {
        background-color: var(--aptools-color-emphasis-c1);
    }
}
