.validators-map {
    &__buttons {
        position: absolute;
        right: 10px;
        top: 0px;
        display: flex;
        flex-direction: column;

        button + button {
            margin-top: 2px;
        }

        button {
            border: 1px solid var(--aptools-color-grey-c3);
            border-radius: 2px;
            background-color: var(--aptools-color-main-primary);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .3s ease;

            &:hover {
                background-color: var(--aptools-color-grey-c3);
            }
        }
    }

    canvas {
        background-color: #fff;
    }
}
