{
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "proseWrap": "never",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4
}
