.account-token-performance {
    &__tablet {
        &-inner {
            display: grid;
            grid-template-columns: 50% 50%;
            width: calc(100% - 28px);
        }

        &-item {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &:first-child {
                padding-right: 16px;
            }

            &:last-child {
                padding-left: 16px;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .title,
            .value,
            .description {
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                color: var(--aptools-color-grey-c1);
                display: flex;
                align-items: center;

                a {
                    color: var(--aptools-color-emphasis-c1);
                }

                &.big {
                    color: var(--aptools-color-main-secondary);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                }
            }
        }
    }
}
