.form {
    &.popup {
        background-color: var(--aptools-color-main-primary);
        padding: 32px;
        box-shadow: 0px 15px 15px -20px rgb(0 0 0 / 10%);
        border-radius: 2px;
        border: 1px solid var(--aptools-color-grey-c3);
        max-width: 525px;
        width: 100%;
    }

    &__input {
        &.wallet {
            .pointer {
                cursor: pointer;
            }

            .installed {
                color: var(--aptools-color-emphasis-c2);
            }

            & + .form__input.wallet {
                border-top: 1px solid var(--aptools-color-grey-c4);
            }

            &.disabled {
                filter: grayscale(1);
                pointer-events: none;
            }

            justify-content: space-between;
            display: flex;
            align-items: center;
            padding: 12px 10px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;

            span {
                display: flex;
                align-items: center;
            }

            img {
                width: 32px;
                height: 32px;
                margin-right: 8px;
            }
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &--background {
            position: absolute;
            pointer-events: none;

            @include mediaWMax('TABLET') {
                display: none;
            }
        }

        &--foreground {
            max-width: 467px;
            width: 100%;
            display: flex;
            flex-direction: column;
            z-index: 1;
            row-gap: 16px;

            &.wide {
                max-width: 525px;
            }

            position: relative;

            .close {
                position: absolute;
                left: calc(100% + 4px);
                top: 0;
                width: 24px;
                height: 24px;
            }

            &-divide {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                color: var(--aptools-color-grey-c2);
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: block;
                    padding: 0 24px;
                }

                &:after,
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: var(--aptools-color-grey-c2);
                }
            }

            &-item {
                width: 100%;
                display: flex;
                column-gap: 6px;
                justify-content: center;

                &.big-gap {
                    column-gap: 16px;
                }

                &-button {
                    & > span {
                        width: 100%;
                    }
                }

                .link {
                    a {
                        color: var(--aptools-color-emphasis-c1);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration-line: underline;
                        transition: .3s ease color;

                        &:hover {
                            color: rgb(var(--aptools-color-emphasis-c1--rgb) / 50%);
                        }
                    }
                }

                ul {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    column-gap: 8px;

                    li {
                        display: flex;
                        align-items: center;
                    }

                    li + li {
                        &:before {
                            margin-right: 8px;
                            content: '';
                            display: block;
                            width: 4px;
                            height: 4px;
                            background-color: var(--aptools-color-grey-c1);
                            border-radius: 100%;
                        }
                    }

                    a {
                        text-decoration-line: unset;
                        color: var(--aptools-color-grey-c1);
                        transition: .3s ease color;

                        &:hover {
                            color: var(--aptools-color-emphasis-c1);
                            text-decoration-line: underline;
                        }
                    }
                }
            }

            .button {
                flex: 1;
                min-height: 42px;
                justify-content: center;
                width: 100%;

                svg {
                    margin-right: 4px;
                }
            }
        }
    }

    .title {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /*44px*/
        letter-spacing: -1px;
        text-align: center;
    }

    .description {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    &__inner {
        max-width: 467px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        row-gap: 16px;

        &--wrapper {
            &:not(.form__inner--active) {
                cursor: not-allowed;
                filter: grayscale(1);

                * {
                    pointer-events: none;
                }
            }
        }

        &--error {
            color: var(--aptools-color-emphasis-c4);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            margin-top: 2px;
            display: block;
            padding: 0 10px;
        }

        .button {
            flex: 1;
            min-height: 42px;
            justify-content: center;
            width: 100%;

            svg {
                margin-right: 4px;
            }
        }
    }
}
