.form {
    .title {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /*44px*/
        letter-spacing: -1px;
        text-align: center;
    }
}
