.stats {
    &__top + div {
        /*margin-bottom: 9px;*/
    }

    &__wrapper {
        min-height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .placeholder {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .data {
                .value {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    color: var(--aptools-color-grey-c1);
                    margin-right: 8px;
                }

                .percent {
                    padding: 2px 6px;
                    border-radius: 2px;
                    color: var(--aptools-color-grey-c2);
                    background-color: var(--aptools-color-grey-c4);
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 15px;

                    svg {
                        margin-right: 2px;

                        path {
                            fill: var(--aptools-color-grey-c2);
                        }
                    }
                }
            }

            .preview {
                display: flex;

                &__info {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;

                    strong {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                    }

                    span {
                        color: var(--aptools-color-grey-c1);
                        margin-top: 2px;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 15px;
                    }
                }

                &__image {
                    &:not(.coin) {
                        height: 32px;
                        width: 32px;
                        background-color: var(--aptools-color-grey-c4);
                        border-radius: 4px;

                        svg {
                            transform: scale(.75);
                        }
                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        $top: &;

        &.adapt {
            @include mediaWMax('MOBILE') {
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
            }
            #{$top}-stats {
                @include mediaWMax('MOBILE') {
                    align-items: flex-start;
                }
            }
        }

        &-copy {
            margin-left: 16px;
        }

        &-stats {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;

            &.row {
                flex-direction: row;
                overflow: hidden;
            }

            &.center {
                align-items: center;
            }

            button {
                margin-left: 8px;
            }

            .title {
                font-weight: 700;
                font-size: 22px;
                line-height: 29px;
                display: flex;
                align-items: center;
                overflow: hidden;

                &.m-left {
                    margin-left: 16px;
                }

                &.blue {
                    color: var(--aptools-color-emphasis-c1);
                }

                &.light {
                    font-weight: 400;
                }

                .additive {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 15px;
                    color: var(--aptools-color-main-primary);
                    padding: 2px 6px;
                    background-color: var(--aptools-color-emphasis-c2);
                    margin-left: 8px;
                    border-radius: 4px;

                    &.positive {
                        background-color: var(--aptools-color-emphasis-c2);
                    }

                    &.negative {
                        background-color: var(--aptools-color-emphasis-c4);
                    }
                }
            }

            .info {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: var(--aptools-color-grey-c1);
                display: flex;
                align-items: center;

                &.positive {
                    color: var(--aptools-color-emphasis-c2);
                }

                &.negative {
                    color: var(--aptools-color-emphasis-c4);
                }

                .additive {
                    font-weight: 500;
                    font-size: 10px;
                    color: var(--aptools-color-emphasis-c2);
                    padding: 2px 6px;
                    margin-left: 8px;
                    display: flex;
                    align-items: center;

                    &.positive {
                        color: var(--aptools-color-emphasis-c2);
                    }

                    &.negative {
                        color: var(--aptools-color-emphasis-c4);
                    }
                }
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-image {
            max-width: 32px;
            min-width: 32px;
            min-height: 32px;
            max-height: 32px;
        }

        &-icon {
            max-width: 44px;
            min-width: 44px;
            min-height: 44px;
            max-height: 44px;
            border-radius: 2px;
            background-color: var(--aptools-color-emphasis-c1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 9px;
        }

        &-image + &-title {
            margin-left: 6px;
        }

        &-title {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;

            &.blue {
                color: var(--aptools-color-emphasis-c1);
            }

            &.bold {
                font-weight: 500;
            }
        }
    }

    &__item {
        &-wrapper + &-wrapper {
            margin-top: 2px;
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &.wrap {
                flex-wrap: wrap;
            }

            &.flex-start {
                align-items: flex-start;
            }

            &.indent {
                margin-top: 17px;
            }

            &.emphasis {
                padding: 8px 13px;
                background-color: var(--aptools-color-emphasis-c1);

                .title {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 130%;
                    color: var(--aptools-color-main-primary);
                }

                .info {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 130%;
                    color: var(--aptools-color-emphasis-c3);
                }
            }

            &.right {
                justify-content: flex-end;
            }

            .range {
                max-width: 250px;
                width: 100%;
                background-color: var(--aptools-color-grey-c3);
                height: 20px;
                border-radius: 2px;
                overflow: hidden;
                position: relative;

                &.white {
                    background-color: var(--aptools-color-grey-c5);
                }

                b {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 8px;
                    line-height: 100%;
                    color: var(--aptools-color-main-primary);
                    width: 0%;
                    background-color: var(--aptools-color-emphasis-c1);
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: width .2s ease;
                }
            }

            .title {
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                color: var(--aptools-color-grey-c1);

                &.black {
                    color: var(--aptools-color-main-secondary);
                }

                span {
                    color: var(--aptools-color-emphasis-c1);
                }

                .item-data {
                    display: flex;
                    align-items: center;

                    img {
                        max-width: 16px;
                        max-height: 16px;
                        min-height: 16px;
                        min-width: 16px;
                        object-fit: contain;
                        margin-right: 4px;
                    }

                    &__info {
                        display: flex;
                        flex-direction: column;

                        strong {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%;
                            color: var(--aptools-color-main-secondary);
                        }

                        div {

                        }
                    }
                }
            }

            .info {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                text-align: right;
                margin-left: 15px;

                &.emphasis {
                    color: var(--aptools-color-main-primary);
                    background-color: var(--aptools-color-emphasis-c1);
                    padding: 2px 10px;
                    border-radius: 2px;
                    text-align: left;
                }

                &.break {
                    word-break: break-all;
                }

                &.success-color {
                    color: var(--aptools-color-emphasis-c2);
                }

                &.cancel-color {
                    color: var(--aptools-color-emphasis-c4);
                }

                &.success {
                    color: var(--aptools-color-emphasis-c2);
                }

                &.success-type,
                &.cancel-type {
                    padding: 2px 6px;
                    background-color: var(--aptools-color-lights-success);
                    color: var(--aptools-color-emphasis-c2);
                    border-radius: 4px;
                    font-size: 10px;
                    margin-top: 2px;
                }

                &.success-type {
                    background-color: var(--aptools-color-lights-success);
                    color: var(--aptools-color-emphasis-c2);
                }

                &.cancel-type {
                    background-color: var(--aptools-color-lights-danger);
                    color: var(--aptools-color-emphasis-c4);
                }

                span {
                    color: var(--aptools-color-emphasis-c1);

                    &.min {
                        margin-left: 4px;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 15px;
                    }

                    &.little {
                        color: var(--aptools-color-grey-c1);
                    }

                    &.success {
                        color: var(--aptools-color-emphasis-c2);
                    }
                }

                &.column {
                    display: flex;
                    flex-direction: column;
                }

                &.row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 5px;
                }

                .blue {
                    color: var(--aptools-color-emphasis-c1);
                }

                .small {
                    font-size: 10px;
                }

                .additive {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 15px;
                    color: var(--aptools-color-main-primary);
                    padding: 2px 6px;
                    background-color: var(--aptools-color-emphasis-c2);
                    margin-left: 8px;
                    border-radius: 4px;

                    &.positive {
                        background-color: var(--aptools-color-emphasis-c2);
                    }

                    &.negative {
                        background-color: var(--aptools-color-emphasis-c4);
                    }
                }
            }

            .description {
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                text-align: right;
                color: var(--aptools-color-emphasis-c1);
                margin-left: 16px;
            }
        }
    }

    &__item + &__item {
        margin-top: 8px;
    }
}
