@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

.main-banner {
    min-height: calc(270px - var(--layout-indent));


    @include mediaWMax('TABLET') {
        min-height: calc(300px - var(--layout-indent));
    }

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;

    &__info-wrapper,
    &__theme-switcher {
        z-index: 2;
        position: relative;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-wrapper {
            display: flex;
            flex-direction: column;

            @include mediaWMax('TABLET') {
                width: 100%;
            }
        }
    }

    &__socials {
        margin-top: 38px;

        @include mediaWMax('TABLET') {
            margin-top: 19px;
        }
    }

    &__theme-switcher {
        align-self: flex-start;

        @include mediaWMax('TABLET') {
            display: none;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        max-width: 643px;
        max-height: 411px;
        width: 100%;
        height: 100%;
        right: 10.74%;
        transform: translateY(-50%);

        @include mediaWMax('LARGE') {
            right: -15%;
        }

        @include mediaWMax('LAPTOP') {
            right: -25%;
        }

        @include mediaWMax('TABLET') {
            right: -35%;
            top: 15%;
        }

        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: -1px;

        @include mediaWMax('TABLET') {
            max-width: 300px;
        }
    }

    &__description {
        color: var(--aptools-color-grey-c1);
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }

    &__title + &__description {
        margin-top: 5px;
    }
}
