@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

.plate {
    background-color: var(--aptools-color-grey-c5);
    padding: 17px 13px;
    min-height: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;

    @include mediaWMax('TABLET') {
        padding: 17px 10px;
    }

    &.center {
        justify-content: center;
    }

    &.min {
        min-height: 93px;
    }

    &.bordered {
        border: 1px solid var(--aptools-color-grey-c3);
        background-color: unset;
    }

    &.no-min {
        min-height: unset;
    }

    &__image {
        border-radius: 2px;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
        margin-right: 10px;
        overflow: hidden;
    }

    &.compressed {
        padding: 16px var(--blocks-v-padding);
    }

    &.dark {
        background-color: var(--aptools-color-grey-c3);
        padding: 10px 20px;

        @include mediaWMax('TABLET') {
            padding: 17px 10px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        display: block;

        &-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }
    }
}
