.account-transactions-list {
    &__type {
        padding: 2px 6px;
        background-color: var(--aptools-color-lights-success);
        color: var(--aptools-color-emphasis-c2);
        border-radius: 4px;

        &.error {
            background-color: var(--aptools-color-lights-danger);
            color: var(--aptools-color-emphasis-c4);
        }

        &.success {
            background-color: var(--aptools-color-lights-success);
            color: var(--aptools-color-emphasis-c2);
        }
    }

    &__mobile {
        &-inner {
            display: grid;
            grid-template-columns: 50% 50%;
            text-align: left;

            .time {
                color: var(--aptools-color-emphasis-c1);
            }

            .wrapper {
                justify-content: flex-end;
                display: flex;

                div {
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                    color: var(--aptools-color-grey-c1);

                    &:last-child {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    &__tablet {
        &-item {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &:first-child {
                padding-right: 16px;
            }

            &:last-child {
                padding-left: 16px;
            }

            .title,
            .value {
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                color: var(--aptools-color-grey-c1);
                display: flex;
                align-items: center;

                a {
                    color: var(--aptools-color-emphasis-c1);
                }
            }
        }

        &-inner {
            width: calc(100% - 28px);
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}
