.button {
    padding: 5px 16px;
    border: 1px solid var(--aptools-color-emphasis-c1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--aptools-color-emphasis-c1);

    &.fill:not(.disabled) {
        background-color: var(--aptools-color-main-primary);
    }

    &.disabled {
        background-color: var(--aptools-color-grey-c4);
        color: var(--aptools-color-grey-c1);
        border: 1px solid var(--aptools-color-grey-c4);
        cursor: not-allowed;
    }

    &.invert:not(.disabled) {
        background-color: var(--aptools-color-emphasis-c1);
        color: var(--aptools-color-main-primary);

        svg path {
            fill: var(--aptools-color-main-primary);
        }

        &:hover {
            color: var(--aptools-color-emphasis-c1);
            background-color: var(--aptools-color-main-primary);

            svg path {
                fill: var(--aptools-color-emphasis-c1);
            }
        }
    }

    &:hover:not(.disabled) {
        background-color: var(--aptools-color-emphasis-c1);
        color: var(--aptools-color-main-primary);

        svg path {
            fill: var(--aptools-color-main-primary);
        }
    }

    transition: background-color .3s ease, color .3s ease;

    &.back {
        svg {
            &:nth-of-type(1) {
                margin-left: -8px;
                margin-right: 0px;
            }
        }
    }

    &.forward {
        svg {
            &:nth-of-type(1) {
                margin-left: 5px;
            }
        }
    }

    &.plus {
        svg {
            &:nth-of-type(1) {
                margin-right: 5px;
            }
        }
    }

    svg {
        path {
            transition: fill .3s ease;
            fill: var(--aptools-color-emphasis-c1);
        }

        &:nth-of-type(2) {
            margin-left: 4px;
        }
    }
}
