.grid {
    --gaps: 16px;
    --column-gap: var(--gaps);
    --row-gap: var(--gaps);
    --innerColumns: repeat(var(--columns), calc((100% - var(--column-gap) * (var(--columns) - 1)) / var(--columns)));

    display: grid;
    grid-template-columns: var(--innerColumns);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);

    & + .grid {
        margin-top: var(--layout-indent);
        z-index: 1;
        position: relative;
    }
}
