@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

.auth-sign-up {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &__background {
        position: absolute;
        pointer-events: none;

        @include mediaWMax('TABLET') {
            display: none;
        }
    }

    &__foreground {
        max-width: 467px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        row-gap: 16px;

        &-divide {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: var(--aptools-color-grey-c2);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: block;
                padding: 0 24px;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: var(--aptools-color-grey-c2);
            }
        }

        &-item {
            width: 100%;
            display: flex;
            column-gap: 6px;

            &-button {
                & > span {
                    width: 100%;
                }
            }

            .link {
                a {
                    color: var(--aptools-color-emphasis-c1);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    text-decoration-line: underline;
                    transition: .3s ease color;

                    &:hover {
                        color: rgb(var(--aptools-color-emphasis-c1--rgb) / 50%);
                    }
                }
            }

            ul {
                display: flex;
                width: 100%;
                justify-content: center;
                column-gap: 8px;

                li {
                    display: flex;
                    align-items: center;
                }

                li + li {
                    &:before {
                        margin-right: 8px;
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        background-color: var(--aptools-color-grey-c1);
                        border-radius: 100%;
                    }
                }

                a {
                    text-decoration-line: unset;
                    color: var(--aptools-color-grey-c1);
                    transition: .3s ease color;

                    &:hover {
                        color: var(--aptools-color-emphasis-c1);
                        text-decoration-line: underline;
                    }
                }
            }
        }

        .button {
            flex: 1;
            min-height: 42px;
            justify-content: center;
            width: 100%;

            svg {
                margin-right: 4px;
            }
        }
    }
}
