* {}

html,
body {
    height: 100%;
}

body {
    font-family: DMSans, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    @include setTheme('light');
    @include setTheme('dark');
}

#main {
    min-height: 100vh;
}

.swiper {
    display: none;
    width: 100%;
    &.swiper-initialized {
        display: block;
    }
}