* {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
    margin: 0;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
    appearance: none;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input::-ms-clear {
    display: none;
}
