@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

.socials {
    display: flex;
    flex-direction: column;

    @include mediaWMax('TABLET') {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: var(--aptools-color-grey-c1);
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }

    &__item + &__item {
        margin-left: 13px;
    }

    &__item {
        svg path {
            transition: fill .3s ease;
        }

        &:hover svg path {
            fill: var(--aptools-color-emphasis-c1);
        }

        &s {
            margin-top: 10px;
            display: flex;
        }
    }
}
