@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

.nav-bar-item {
    $self: &;

    &:hover,
    &.active {
        background-color: rgb(var(--aptools-color-emphasis-c1--rgb) .3);
        transition: background-color var(--nav-bar-transition-speed-1) ease;
        #{$self}__title {
            color: var(--aptools-color-main-primary);
        }
        #{$self}__icon {
            svg path {
                fill: var(--aptools-color-main-primary);
            }
        }
    }

    @include mediaWMax('TABLET') {
        #{$self}__icon {
            min-width: 0%;

            svg {
                left: 0%;
                transform: translate(0%, -50%);
            }
        }

        & > span {
            width: 100%;
        }
        #{$self}__inner {
            padding: 7px var(--nav-bar-v-padding);
            justify-content: flex-end;
            #{$self}__icon {
                order: 1;
                width: 24px;
            }
            #{$self}__title {
                padding-left: unset;
                padding-right: 12px;
            }
        }
    }

    &.expanded {
        #{$self}__icon {
            min-width: 0%;

            svg {
                left: 0%;
                transform: translate(0%, -50%);
            }
        }

        #{$self}__inner {
            padding: 7px var(--nav-bar-v-padding);
        }
    }

    &__icon {
        position: relative;
        min-width: 24px;
        display: flex;
        height: 24px;
        transition: min-width var(--nav-bar-transition-speed-1) ease;

        svg {
            top: 50%;
            left: 0%;
            transform: translate(0%, -50%);
            position: absolute;
            transition: left var(--nav-bar-transition-speed-1) ease, transform var(--nav-bar-transition-speed-1) ease;
        }
    }

    &__title {
        color: var(--aptools-color-grey-c1);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        white-space: nowrap;
        padding-left: calc(24px + 8px);
        transition: color var(--nav-bar-transition-speed-2) ease;
    }

    span#{$self}__inner {
        background-color: rgb(var(--aptools-color-emphasis-c1--rgb) .1);

        &:after {
            width: 4px;
        }
    }

    &__inner {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 0;
            background-color: var(--aptools-color-emphasis-c1);
            transition: width var(--nav-bar-transition-speed-1) ease;
        }

        display: flex;
        padding: 7px 0 7px var(--nav-bar-v-padding);

        svg {
            width: 24px;
            height: 24px;

            path {
                transition: fill var(--nav-bar-transition-speed-2) ease;
            }
        }
    }
}
