.layout {
    background-color: var(--aptools-color-main-primary);
    color: var(--aptools-color-main-secondary);
    display: flex;
    overflow: hidden;

    &__page-wrapper {
        padding: var(--layout-indent) var(--layout-v-padding) var(--layout-bottom-indent) calc(var(--nav-bar-width) + var(--layout-v-padding));
        flex: 1 0;
        width: 100%;
    }
}
