@import '/src/styles//static/general/variables.static';
@import '/src/styles//static/general/mixins';

@mixin setAdopt($type) {
    @include mediaWMax($type) {
        grid-template-columns: 100%;
    }
}

.list-row {
    &.adopt {
        @include setAdopt('TABLET');
    }

    @each $key, $value in $breakpoints {
        &.adopt-#{$value} {
            @include setAdopt($key);
        }
    }

    display: grid;
    grid-template-columns: var(--list-columns);
    padding: 6px 8px;
    transition: background-color .3s ease, border-color .3s ease;
    border-radius: 2px;
    border-color: transparent transparent var(--aptools-color-grey-c4) transparent;
    border-width: 1px;
    border-style: solid;
    margin: -1px -1px 0;

    &__collapsed {
        grid-template-rows: 0fr;
        transition: grid-template-rows .3s ease;
        display: grid;
        overflow: hidden;

        &.open {
            grid-template-rows: 1fr;
        }

        .list-row__collapsed-inner {
            min-height: 0;
        }

        &:not(.not-stretch) {
            .list-row__collapsed-inner {
                & > div,
                & > div > div,
                & > div > div > div {
                    min-width: 100%;
                }
            }
        }
    }

    &.collapse {
        overflow: hidden;

        .hide {
            &:before,
            & > div,
            & > div > div {
                transition: .3s ease line-height;
            }
        }

        &:not(.uncollapsed) {
            .hide {
                /*line-height: 0px;*/
                overflow: hidden;

                &:before {
                    text-align: left;
                }

                & > div {
                    justify-content: flex-end;
                }

                & > div > div {
                    width: 100%;
                }

                &:before,
                & > div,
                & > div > div {
                    /*line-height: 0px;*/
                    overflow: hidden;
                    position: relative;
                }

                & > div > svg {
                    position: absolute;
                }
            }
        }
    }

    &-inner {
        width: 100%;
        display: grid;
        grid-template-columns: var(--list-columns);
    }

    &:hover {
        background-color: var(--aptools-color-grey-c3);
    }
}
