.text-input {
    width: 100%;
    position: relative;

    $self: &;

    transition: filter .3s ease;

    &__error {
        color: var(--aptools-color-emphasis-c4);
    }

    &__info {
        color: var(--aptools-color-emphasis-c1);
    }

    &__error,
    &__info {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        display: block;
        margin-top: 2px;
        padding: 0 10px;
    }

    label {
        padding: 0 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        &[data-require] {
            &:after {
                content: '*';
                color: var(--aptools-color-emphasis-c4);
            }
        }
    }

    &.focus {
        filter: drop-shadow(0px 10px 10px var(--aptools-color-grey-c3));

        input {
            border-color: var(--aptools-color-emphasis-c1);
        }
        #{$self}__icon:not(.right) svg path {
            fill: var(--aptools-color-emphasis-c1);
        }
    }

    &.error {
        input {
            border-color: var(--aptools-color-emphasis-c4);
        }
    }

    &__button {
        position: absolute;
        right: 6px;
        top: 6px;
    }

    &__icon {
        &.right {
            left: unset;
            right: 0;
        }

        &.pass {
            pointer-events: all;
        }

        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: border-color .3s ease;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg path {
            transition: fill .3s ease;
        }
    }

    &.icon {
        input {
            padding-left: 50px;
        }
    }

    &__wrapper {
        position: relative;
    }

    input {
        width: 100%;
        padding: 10px 16px;
        font-size: 14px;
        font-style: normal;
        border-radius: 2px;
        font-weight: 400;
        line-height: 20px;
        outline: unset;
        border: 1px solid var(--aptools-color-emphasis-c5);
        transition: border-color .3s ease;
    }
}
