.tabs {
    &__nav {
        &--disabled {
            svg path {
                fill: var(--aptools-color-grey-c3);
            }

            cursor: default;
        }

        &--lock {
            display: none !important;
        }

        &--button {
            width: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:last-of-type {
                transform: scaleX(-1);
            }
        }
    }

    &__inner {
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--aptools-color-grey-c3);
            height: 2px;
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        z-index: 1;
        position: relative;
    }

    &__outer {
        display: flex;
        margin-bottom: 21px;
    }

    &__item {
        padding: 4px 16px 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        position: relative;
        color: var(--aptools-color-grey-c1);
        transition: background-color .3s ease, color .3s ease;
        width: max-content;

        &:hover {
            color: var(--aptools-color-emphasis-c1);
        }

        &:before {
            transition: width .3s ease;
            width: 0%;
            bottom: 0;
            left: 0;
            position: absolute;
            content: '';
            height: 3px;
            background-color: var(--aptools-color-emphasis-c1);
        }

        &:after {
            transition: color .3s ease;
            content: '(' attr(data-count) ')';
            color: var(--aptools-color-grey-c2);
            font-size: 10px;
            line-height: 14px;
            margin-left: 5px;
        }

        &:not(.counter) {
            &:after {
                display: none;
            }
        }

        &.active {
            cursor: default;
            color: var(--aptools-color-emphasis-c1);
            background-color: var(--aptools-color-grey-c3);

            &:before {
                width: 100%;
            }

            &:after {
                color: var(--aptools-color-grey-c1);
            }
        }
    }
}
